<div class="abrir-modal animacion fadeIn" *ngIf="modalService.modal">
    <div class="modal" tabindex="-1" style="display:block;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">{{titulo}}</h5>
                    <button (click)="cerrarModalSkill()" type="button" class="btn-close" data-bs-dismiss="modal"
                        aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <!--TEMPLE-->
                    <ul class="alert alert-danger my-2" *ngIf="errores?.length > 0">
                        <li class="ms-3" *ngFor="let err of errores">
                            {{err}}
                        </li>
                    </ul>

                    <form>
                        <div class="row mb-3">
                            <label for="titulo" class="col-form-label col-sm-4 text-font" style="color: black;">Nombre de la Skill</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" [(ngModel)]="skill.nombre" name="nombre" />
                            </div>
                        </div>

                        <div class="row mb-3">
                            <label for="porcentaje" class="col-form-label text-font col-sm-4" style="color: black;">Porcentaje</label>
                            <div class="col-sm-4">
                                <input type="number" class="form-control" [(ngModel)]="skill.porcentaje"
                                    name="porcentaje" />
                            </div>
                            
                        </div>
                        
                    </form>

                    <!--TEMPLE END-->
                </div>
                <div class="modal-footer">
                    <button (click)="cerrarModalSkill()" type="button" class="btn btn-secondary"
                        data-bs-dismiss="modal">Cerrar</button>
                        <button class="btn btn-primary" role="button" (click)="create()"
                        *ngIf="!skill.id else elseBlock">Agregar</button>
                    <ng-template #elseBlock>
                        <button class="btn btn-primary" role="button" (click)="update()">Guardar cambios</button>
                    </ng-template>
                </div>
            </div>
        </div>
    </div>
</div>